<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/boardList.js}"></script>

    <link th:href="@{/css/board.css}" rel="stylesheet">

    <title>게시판</title>
</head>
<body>

<div class="container">
    <h1 id="welcomeMessage"></h1>

    <a th:href="@{/write}" class="btn">글쓰기</a>
    <a th:href="@{/stats}" class="btn">작성자 통계</a>

    <a href="#"
       class="btn logout-btn logout-btn-position"
       onclick="logout(); return false;">
        로그아웃
    </a>

    <div id="searchForm">
        <input id="searchTitle"
               type="text"
               placeholder="제목 검색">

        <input id="searchUserId"
               type="text"
               placeholder="작성자 아이디">

        <input id="searchFrom"
               type="date"
               title="작성일 시작">

        <input id="searchTo"
               type="date"
               title="작성일 끝">

        <button id="searchBtn"
                class="btn"
                type="button">
            검색
        </button>

        <button id="searchResetBtn"
                class="btn reset-btn"
                type="button">
            초기화
        </button>
    </div>

    <div id="board">
        <table>
            <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>댓글</th>
                <th>작성일</th>
            </tr>
            </thead>

            <tbody id="boardContent"></tbody>
        </table>
    </div>

    <div id="pagination"></div>
</div>

</body>
</html>